// Define variables for your color scheme

// For example:
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #F1FAEE;
$light-blue: #A8DADC;
$red: #E63946;
$blue: #457B9D;
$navy: #1D3557
