<div class="footer">
  <div class="footer-copyright">
    <p>
      coded with <i class="fas fa-heart"></i> @ Le Wagon by <a href="https://github.com/vtorelli">Victoria</a>, <a href="https://github.com/Nicolas1936">Nicolas</a>, <a href="https://github.com/rishi-ag">Rishabh</a> & <a href="https://github.com/rishi-ag">Taraneh</a>
    </p>
  </div>
</div>
