<div class="wrapper">
  <div class="hero-homepage-banner">
      <div class="hero-banner-title">
        <h1>Rent-A-Cow</h1>
      <p>find your new temporary friend</p>
    </div>

    <% if user_signed_in? %>
      <p>Hello <%= current_user.email %></p>
    <% else %>

      <p class="login-button">
        <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
      </p>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render "shared/allcows" %>
</div>
