.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: #F4F4F4;

  border-radius: 24px 0 0 24px;
  border: none;
  font-size: 16px;
  height: 40px;
}
