.login-button {
  border-radius: 8px;
  background-color: #2b2d42;
  color: white;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button:hover {
  background-color: #d80032;
  cursor: pointer;
}
