.login-button {
  border-radius: 8px;
  background-color: $navy;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #F1FAEE;
  }
}
.login-button:hover {
  text-decoration: none;
  background-color: $red;
  cursor: pointer;
}

.sign-in-btn{
  border-radius: 8px;
  background-color: $navy;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #F1FAEE;
  }
}
