.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}
.page-content {
  width: 90%;
  margin: auto;
  text-justify: center;
  padding: 20px;
}
.cow-card {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 300px;
  border-radius: 16px;
  margin: 20px;

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: $red;
  }

  h3 {
    font-size: 18px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    color: $navy;
  }

  p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
    color: $navy;
  }

}
.cow-card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  h2 {
    color: $blue;
  }
}
.cow-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10px;

  p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
}
.cow-card-infos .cow-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}


@media(max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
