.hero-homepage-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1570134534784-b9a9a623d98a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: bottom;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.hero-banner-title {
  margin: 20px;
  text-align: center;
  color: $white;
  text-shadow: 3px 3px 16px rgba(0,0,0, 0.9);
}
.hero-banner-logo {
  font-size: 76px;
}
