.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  color: $white;

  a {
    color: $light-blue;
  }

  a:hover {
    color: $red;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.navbar-brand .fa-cow {
  font-size: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
