.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  color: $white;
  height: 50px;

  a {
    color: $light-blue;
  }

  a:hover {
    color: $red;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
.navbar-brand .fa-cow {
  font-size: 30px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-menu {
  background-color: $navy;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  opacity: 80%;
}
.dropdown-item:hover {
  background-color: $red;
  color: $navy !important;
}

#login-navbar-user-name {
  color: $red;
}

#login-navbar-link {
  color: $red;
}
#login-navbar-link:hover {
  color: $blue;
}
