.cow-tag {
  color: $white;
  background-color: $red;
  border-radius: 16px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
}


.add-tags-card {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-text-field {
  border: none;
  border-radius: 16px 0 0 16px;
  height: 32px;
  color: $blue;
  width: 150px;
}
.tag-text-field:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(29, 53, 87, 0.2);
}
#tag-button {
  border: none;
  width: 85px;
  height: 32px;
  border-radius: 0 16px 16px 0;
}
