// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "pages/index";
@import "pages/cows_edit";
@import "pages/cows_show";
@import "pages/my_cows";
@import "pages/my_bookings";
@import "pages/login_page";
@import "components/index";
@import "components/navbar";
@import "components/buttons";
@import "components/banners";
@import "components/footer";
@import "components/cards";
@import "components/maps";
@import "components/tags";



body {
  background-color: $white;
  color: $navy;
}
.wrapper {
  margin: auto;
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: $blue;
}
a:hover {
  color: $red;
}
.container{
margin-top: 50px;
}
h1, h2 {
  font-weight: 900;
}
