// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/buttons";
@import "components/hero_homepage_banner";
@import "components/footer";

body {
  background-color: #F1FAEE;
}
.wrapper {
  margin: auto;
}
a {
  text-decoration: none;
}
