<div class="wrapper">
  <div class="my-cows-banner text-center">
    <h1>MY COWS</h1>
  </div>

  <%= link_to "Add new cow", new_cow_path, class: "navy-button", id: "my-cows-add-cow-btn" %>

  <div class="container-my-cows">
    <%= render "shared/allcows" %>
  </div>
</div>
