<div class="wrapper">
  <div class="my-cows-banner">
    <h1>My Cows</h1>
  </div>

  <div class="container text-center">
    <div class="container text-center">
      <%= link_to "Add new cow", new_cow_path %>
    </div>

    <%= render "shared/allcows" %>
  </div>
</div>
